/** Start Button Appear in home Page*/
/**Default*/
.start-button {
    background: transparent;
    border: 0;
    padding: 0;
    cursor: pointer;
    outline: 0;
    -webkit-appearance: none;
}

/* Custom */
.start-button {
    display: inline-block;
    position: relative;
    padding: 20px 38px;
    top: 0;
    font: 35px 'Source Code Pro';
    border-radius: 4px;
    border-bottom: 1px solid rgba(255, 226, 4, 0.5);
    color: #090909;
    box-shadow: 0px 0px 0px rgba(15, 165, 60, 0.1);

    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);

    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.start-button:hover {
    top: -10px;
    box-shadow: 0px 10px 10px rgba(15, 165, 60, 0.2);
    -webkit-transform: rotateX(20deg);
    -moz-transform: rotateX(20deg);
    -ms-transform: rotateX(20deg);
    transform: rotateX(20deg);
}

.start-button:active {
    top: 0px;
    box-shadow: 0px 0px 0px rgba(15, 165, 60, 0.0);
    background: rgba(20, 224, 133, 1);
}